@model StartR.Domain.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="qualification">
    <i id="spinner" class="icon-spinner icon-spin icon-large"></i> Loading content...
</div>
@Html.DisplayFor(model => model.FirstName)&nbsp;@Html.DisplayFor(model => model.LastName)<br/>
@Html.DisplayFor(model => model.Address1)<br/>
@if (@Model.Address2 != null)
{
    @Html.DisplayFor(model => model.Address2)<br/>
}
@Html.DisplayFor(model => model.City),&nbsp;@Html.DisplayFor(model => model.State)<br/>
@Html.DisplayFor(model => model.Zip)<br/><br/>
<span><a href="/edit/@Model.Id">Edit</a> | <a href="/">Back to List</a></span>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/SignalR.Qualification.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.navbuttons').removeClass('active');
            $('#nav_home').addClass('active');
        });
    </script>
}